<mat-card class="user-card">
    <p>
      <label for="{{ user.id }}">
        {{ user.email }}
      </label>
    </p>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="makeTeacher(user.email)">Make Teacher</button>
        <button mat-raised-button color="primary" [routerLink]="['/studentWorks', user.email]">See works</button>
    </mat-card-actions>
</mat-card>
