<mat-card>
  <mat-card-content>
    <h2>Registration</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <mat-error *ngIf="reigisterError!=''">
        {{reigisterError}}
      </mat-error>
      <mat-form-field class="full-width-input">
      <input matInput formControlName="email"
                 type="email"
                 required
                 placeholder="email">
      </mat-form-field>
      <mat-form-field class="full-width-input">
      <input matInput formControlName="password"
                   type="password"
                   required
                   placeholder="password">
      </mat-form-field>
      <button mat-raised-button color="primary"> Register </button>
    </form>
  </mat-card-content>
</mat-card>
    
