<mat-card>
   <mat-card-title>Task:</mat-card-title>
   <p>{{task.text}}</p>
   <mat-card-title>Works:</mat-card-title>
   <h3 *ngIf="loading">Loading...</h3>
  <mat-list >
   <app-work 
      *ngFor="let work of taskWorks"
      [work]="work"
      >
   </app-work>
  </mat-list>
  </mat-card>