<mat-card>
    <mat-card-title>Students:</mat-card-title>
    <h3 *ngIf="loading === true">Loading...</h3>
  <mat-list >
   <app-student 
    *ngFor="let student of students"
    [user]="student">
       <p>{{student.email}}</p>
   </app-student>
  </mat-list>
  </mat-card>
  