<mat-card>
   <form [formGroup]="taskForm" (ngSubmit)="createTask()" class="taskForm" *ngIf="isTeacher">
      <mat-error *ngIf="taskError!=''">
        {{taskError}}
      </mat-error>
      <mat-form-field class="full-width-input">
      <textarea matInput formControlName="text"
             rows="4"
             type="text"
             required
             placeholder="Task text">
             <mat-error>
              Please provide a valid task text.
            </mat-error>
      </textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
         <mat-label>Choose a deadline</mat-label>
         <input matInput [matDatepicker]="picker" formControlName="deadLine">
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
         <mat-datepicker #picker></mat-datepicker>
       </mat-form-field>
      <button mat-raised-button color="primary"> Submit </button>
    </form>
    <mat-card-title>Tasks:</mat-card-title>
    <h3 *ngIf="loading">Loading...</h3>
  <mat-list >
   <app-task 
      *ngFor="let task of tasks"
      [task]="task"
      >
   </app-task>
  </mat-list>
  </mat-card>