<mat-card class="work-card">
    <p>Task: {{task.text}}</p>
    <p>Student: {{work.studentEmail}}</p>
    <p>Text: {{work.content}}</p>
    <p *ngIf="work.rate != null">Rate: {{work.rate}}</p>

    <small>Submitted: {{work.submitTime | date:'medium'}}</small>

    <div *ngIf="work.rate == null">
      <form [formGroup]="rateForm" (ngSubmit)="rateWork()">
        <mat-error *ngIf="rateError!=''">
          {{rateError}}
        </mat-error>
        <mat-form-field class="full-width-input">
        <input matInput formControlName="mark"
               type="number"
               required
               placeholder="mark">
               <mat-error>
                Please provide a valid mark
              </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary"> Rate </button>

      </form>
    </div>

    <mat-card-actions align="end">
    </mat-card-actions>
</mat-card>
