<mat-card >
    <mat-card-content>
      <h2>Submit Work</h2>
      <form [formGroup]="workForm" (ngSubmit)="submitWork()">
        <mat-error *ngIf="workError!=''">
          {{workError}}
        </mat-error>
        <mat-form-field class="full-width-input">
        <textarea matInput formControlName="text"
               rows="8"
               type="text"
               required
               placeholder="Your work">
               <mat-error>
                Please provide a valid work text.
              </mat-error>
        </textarea>
        </mat-form-field>
        <button mat-raised-button color="primary"> Submit </button>
      </form>
    </mat-card-content>
</mat-card>
