<mat-card class="work-card">
    <p>
      <label for="{{ work.id }}">
        {{ work.studentEmail }}
      </label>
    </p>
    <p>{{work.content}}</p>
    <p *ngIf="work.rate != null">Rate :{{work.rate}}</p>

    <small>{{work.submitTime}}</small>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [routerLink]="['/workDetails', work.id]">Details</button>
        <!-- <button mat-raised-button color="primary" [routerLink]="['/submitWork', task.id]">Submit Work</button>
        <button mat-raised-button color="primary" [routerLink]="['/taskWorks', task.id]">Task works</button>
        <button mat-raised-button color="primary" *ngIf="isTeacher">Remove Task</button> -->
    </mat-card-actions>
</mat-card>
