<mat-card class="task-card">
    <p>
      <label for="{{ task.id }}">
        Text: {{ task.text }}
      </label>
    </p>
    <small>Deadline: {{task.deadLine | date:'medium'}}</small>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" *ngIf="!isTeacher && !submitted"[routerLink]="['/submitWork', task.id]">Submit Work</button>
        <button mat-raised-button color="success" *ngIf="submitted" [disabled]="true">Submitted</button>
        <button mat-raised-button color="primary" *ngIf="isTeacher" [routerLink]="['/taskWorks', task.id]">Task works</button>
        <button mat-raised-button color="primary" *ngIf="isTeacher" (click)="deleteTask(task.id)">Remove Task</button>
    </mat-card-actions>
</mat-card>
