<mat-card class="work-card">
    <p>Task: {{task.text.substring(0,50)}}<span *ngIf="task.text.length > 50">...</span></p>
    <p>Text: {{work.content}}</p>
    <p *ngIf="work.rate != null">Rate :{{work.rate}}</p>

    <small>Submit time: {{work.submitTime}}</small>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" [routerLink]="['/workDetails', work.id]">Details</button>
    </mat-card-actions>
</mat-card>
