<mat-toolbar color="primary" class="exp-toolbar" >
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/tasks" *ngIf="isAuth">Tasks</button>
    <button *ngIf="isAuth && isTeacher" mat-button routerLink="/students">Students</button>
    <button mat-button routerLink="/">{{title}}</button>
  </div>
  <span><button mat-button >{{email}}</button></span>

<div fxLayout="row" fxShow="false" fxShow.gt-sm>
  <button mat-button routerLink="/login" *ngIf="!isAuth">Login</button>
  <button mat-button routerLink="/register" *ngIf="!isAuth">Register</button>
  <button mat-button *ngIf="isAuth" (click)='logout()'>Logout</button>
</div>
</mat-toolbar>

<router-outlet></router-outlet>
