<mat-card>
    <mat-card-title>Works of {{studentEmail}}:</mat-card-title>
    <h3 *ngIf="loading">Loading...</h3>
  <mat-list>
   <app-student-work 
      *ngFor="let work of studentWorks"
      [work]="work"
      >
   </app-student-work>
  </mat-list>
  </mat-card>